	#login {
		margin: 15px 0px;
		padding: 0px;
		text-align: center;
	}
	#login .inner {
		width: 550px;
		padding-bottom: 6px;
		margin: 60px auto;
		text-align: left;
		border: 1px solid #aab;
		background-color: #ecf2f5;
		-moz-box-shadow: 2px 2px 2px #eee;
		-webkit-box-shadow: 2px 2px 2px #eee;
		-khtml-box-shadow: 2px 2px 2px #eee;
		box-shadow: 2px 2px 2px #eee;
	}
	#login .inner .fheader {
		margin-bottom: 60px;
		margin-top: 26px;
		text-align: center;
		color: #2e3741;
		font-size: 18px;
		font-weight: bold;
	}
	#login .inner .cssform p {
		clear: left;
		text-align: center;
		padding: 4px 0 3px 0;
		margin: 0 0 20px;
		height: 1%;
	}
	#login .inner .cssform input[type='text'] {
		width: 300px;
	}
	#login .inner .cssform input[type='password'] {
		width: 300px;
	}
	#login .inner .cssform label {
		font-weight: bold;
		float: left;
		text-align: right;
		width: 110px;
		padding-top: 3px;
		padding-right: 10px;
	}
	#login #remember_me_holder {
		margin-top: 15px;
		text-align: center;
	}
	#login #input_holder {
		margin-top: 15px;
		text-align: center;
	}
	#login #submit {
		margin-left: 0px;
		margin-top: 60px;
		width: 100px;
	}
	#login #remember_me_holder input[type='checkbox'] {
		vertical-align: center;
		position: relative;
		margin-right: 5px;
		top: 1px;
	}
	#login #remember_me_holder label {
		float: none;
		margin-left: 5px;
		text-align: left;
		width: 300px;
		font-weight: normal;
	}
	#login .inner .login_message {
		padding: 6px 25px 20px 25px;
		color: #c33;
	}
	#login .inner .text_ {
		width: 120px;
	}
	#login .inner .chk {
		height: 12px;
	}